.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.input-group {
  flex-direction: column; /* Cambiamos la dirección de la fila a columna */
  align-items: flex-start;
  /* Alineamos los elementos al principio */
}
.input-title {
  width: auto; /* Ancho automático para los inputs */
  margin-top: 6px;
  margin-bottom: 6px;
}
.input-group label {
  flex: 0 0 100%; /* Las etiquetas ocupan el ancho completo */
  margin-bottom: 5px;
  border: 1px solid #ccc; /* Define el borde con un color gris claro */
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 3px;
}

.input-group input {
  width: auto; /* Ancho automático para los inputs */
  margin-right: 5px; /* Agregamos un margen derecho */
}

.result {
  flex: 0 0 100%; /* El span ocupa el ancho completo */
  margin-top: 5px; /* Añadimos un margen superior */
}

.instruction-message {
  position: absolute;
  display: flex;
  align-items: center;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  margin-left: 25rem;
  z-index: 1; /* Para asegurarse de que esté por encima de los otros elementos */
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 5px;
}
.buttons {
  display: inline-flex;
}
.buttonSubmit {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 20px;
}
.buttonMicro {
  background-color: white;
  margin-right: 80px;
  display: flex;
  justify-content: flex-start;
  margin-left: -12rem;
}
.buttonsMicro {
  justify-content: flex-start;
}
.buttonMicro button:hover {
  background-color: white;
}
.buttonSubmit:hover {
  background-color: #0056b3;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .input-group {
    flex-wrap: wrap;
  }

  .input-group label {
    flex: 0 0 100%;
    margin-bottom: 5px;
  }

  .input-group input {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }

  .result {
    flex: 0 0 100%;
    text-align: left;
    margin-bottom: 10px;
  }
}
